<div class="box-header">
	<div style="text-align: right;">
		<a href="{{URL}}/cliente/view/{{cliente_id}}">
			<button type="button" class="btn btn-primary">
				<i class="bi bi-arrow-left"></i> Cliente
			</button>
		</a>
	</div>
</div>
<div class="box-body mt-2">
	{{error}}
	<form method="post" class="row g-2">
		<div class="col-md-3">
	    	<label for="endereco-cep" class="form-label">CEP *</label>
	    	<input type="text" class="form-control cep" name="Endereco[cep]" id="endereco-cep" value="{{cep}}">
	  	</div>
	  	<div class="col-md-7">
	    	<label for="endereco-logradouro" class="form-label">Logradouro *</label>
	    	<input type="text" class="form-control" name="Endereco[logradouro]" id="endereco-logradouro" value="{{logradouro}}">
	  	</div>
	  	<div class="col-md-2">
	    	<label for="endereco-numero" class="form-label">Número *</label>
	    	<input type="text" class="form-control" name="Endereco[numero]" id="endereco-numero"  value="{{numero}}">
	  	</div>
	  	<div class="col-md-3">
	    	<label for="endereco-complemento" class="form-label">Complemento</label>
	    	<input type="text" class="form-control" name="Endereco[complemento]" id="endereco-complemento" value="{{complemento}}">
	  	</div>
	  	<div class="col-md-3">
	    	<label for="endereco-bairro" class="form-label">Bairro *</label>
	    	<input type="text" class="form-control" name="Endereco[bairro]" id="endereco-bairro" value="{{bairro}}">
	  	</div>
	  	<div class="col-md-4">
	    	<label for="endereco-cidade" class="form-label">Cidade *</label>
	    	<input type="text" class="form-control" name="Endereco[cidade]" id="endereco-cidade" value="{{cidade}}">
	  	</div>
	  	<div class="col-md-2">
	    	<label for="endereco-uf" class="form-label">UF *</label>
	    	<select class="form-control" name="Endereco[uf]" id="endereco-uf">
				<option value="">Selecione...</option>
				<option value="AC">Acre</option>
			    <option value="AL">Alagoas</option>
			    <option value="AP">Amapá</option>
			    <option value="AM">Amazonas</option>
			    <option value="BA">Bahia</option>
			    <option value="CE">Ceará</option>
			    <option value="DF">Distrito Federal</option>
			    <option value="ES">Espírito Santo</option>
			    <option value="GO">Goiás</option>
			    <option value="MA">Maranhão</option>
			    <option value="MT">Mato Grosso</option>
			    <option value="MS">Mato Grosso do Sul</option>
			    <option value="MG">Minas Gerais</option>
			    <option value="PA">Pará</option>
			    <option value="PB">Paraíba</option>
			    <option value="PR">Paraná</option>
			    <option value="PE">Pernambuco</option>
			    <option value="PI">Piauí</option>
			    <option value="RJ">Rio de Janeiro</option>
			    <option value="RN">Rio Grande do Norte</option>
			    <option value="RS">Rio Grande do Sul</option>
			    <option value="RO">Rondônia</option>
			    <option value="RR">Roraima</option>
			    <option value="SC">Santa Catarina</option>
			    <option value="SP">São Paulo</option>
			    <option value="SE">Sergipe</option>
			    <option value="TO">Tocantins</option>
		    </select>
	  	</div>
	  	<div class="col-md-2">
	  		<button type="submit" name="endereco-salvar" class="btn btn-primary">Salvar</button>
	  	</div>
	</form>
</div>
<script>
    $(document).ready(function() {
    	$("#endereco-uf").val("{{uf}}");

        function limpaEndereco() {
            $("#endereco-logradouro").val("");
            $("#endereco-numero").val("");
            $("#endereco-complemento").val("");
            $("#endereco-bairro").val("");
            $("#endereco-cidade").val("");
            $("#endereco-uf").val("");
        }
        $("#endereco-cep").change(function() {
            var cep = $(this).val().replace(/\D/g, '');
            if (cep != "") {
                var validacep = /^[0-9]{8}$/;
                if(validacep.test(cep)) {
                	limpaEndereco();
                    $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {
                        if (!("erro" in dados)) {
                            $("#endereco-logradouro").val(dados.logradouro);
				            $("#endereco-complemento").val(dados.complemento);
				            $("#endereco-bairro").val(dados.bairro);
				            $("#endereco-cidade").val(dados.localidade);
				            $("#endereco-uf").val(dados.uf);
                        }else{
                            limpaEndereco();
                            alert("CEP não encontrado.");
                        }
                    });
                }else {
                    limpaEndereco();
                    alert("Formato de CEP inválido.");
                }
            }else {
                limpaEndereco();
            }
        });
    });
</script>