<tr>
	<td class="cep">{{cep}}</td>
	<td>{{logradouro}} {{numero}} - {{complemento}}</td>
	<td>{{bairro}}</td>
	<td>{{cidade}}</td>
	<td>{{uf}}</td>
	<td>
		<a href="{{URL}}/endereco/update/{{id}}">
			<button type="button" class="btn btn-primary">
				<i class="bi bi-pencil-square"></i>
			</button>
		</a>
		<a href="{{URL}}/endereco/delete/{{id}}">
			<button type="button" class="btn btn-danger">
				<i class="bi bi-trash-fill"></i>
			</button>
		</a>
	</td>
	
</tr>