<section class="mt-3 p-2">
    <a href="{{URL}}/endereco/create/{{cliente_id}}" style="float: right;">
		<button type="button" class="btn btn-success">
			<i class="bi bi-plus"></i>
		</button>
	</a>
	<table class="table table-striped">
		<thead>
			<th>CEP</th>
			<th>Logradouro</th>
			<th>Bairro</th>
			<th>Cidade</th>
			<th>UF</th>
			<th></th>
		</thead>
		<tbody>
			{{itens}}
		</tbody>
	</table>
</section>