<tr>
	<td>{{nome}}</td>
	<td>{{data_nascimento}}</td>
	<td class="cpf">{{cpf}}</td>
	<td>{{rg}}</td>
	<td class="phone_with_ddd">{{telefone}}</td>
	<td>
		<a href="{{URL}}/cliente/view/{{id}}">
			<button type="button" class="btn btn-success">
				<i class="bi bi-eye-fill"></i>
			</button>
		</a>
		<a href="{{URL}}/cliente/update/{{id}}">
			<button type="button" class="btn btn-primary">
				<i class="bi bi-pencil-square"></i>
			</button>
		</a>
		<a href="{{URL}}/cliente/delete/{{id}}">
			<button type="button" class="btn btn-danger">
				<i class="bi bi-trash-fill"></i>
			</button>
		</a>
	</td>
	
</tr>