<div class="box-body mt-2">
	{{error}}
	<form method="post" class="row g-2">
		<div class="col-md-3">
	    	<label for="cliente-cpf" class="form-label">CPF *</label>
	    	<input type="text" class="form-control cpf" name="Cliente[cpf]" id="cliente-cpf" value="{{cpf}}">
	  	</div>
	  	<div class="col-md-9">
	    	<label for="cliente-nome" class="form-label">Nome *</label>
	    	<input type="text" class="form-control" name="Cliente[nome]" id="cliente-nome" value="{{nome}}">
	  	</div>
	  	<div class="col-md-4">
	    	<label for="cliente-data_nascimento" class="form-label">Data de Nascimento *</label>
	    	<input type="date" class="form-control" name="Cliente[data_nascimento]" id="cliente-data_nascimento"  value="{{data_nascimento}}">
	  	</div>
	  	<div class="col-md-4">
	    	<label for="cliente-rg" class="form-label">RG</label>
	    	<input type="text" class="form-control" name="Cliente[rg]" id="cliente-rg" value="{{rg}}">
	  	</div>
	  	<div class="col-md-4">
	    	<label for="cliente-telefone" class="form-label">Telefone</label>
	    	<input type="tel" class="form-control phone_with_ddd" name="Cliente[telefone]" id="cliente-telefone" value="{{telefone}}">
	  	</div>
	  	<div class="col-md-2">
	  		<button type="submit" name="cliente-salvar" class="btn btn-primary">Salvar</button>
	  	</div>
	</form>
</div>