<section>
	<div class="card text-dark mb-3">
		<div class="card-header bg-light">
		    <h4 style="float:left;">Clientes</h4>
		    <a href="{{URL}}/cliente/create" style="float: right;">
				<button type="button" class="btn btn-success">
					<i class="bi bi-plus"></i>
				</button>
			</a>
	  	</div>
	  	<div class="card-body">
			<table class="table table-striped">
				<thead>
					<th>Nome</th>
					<th>Data de Nascimento</th>
					<th>CPF</th>
					<th>RG</th>
					<th>Telefone</th>
					<th></th>
				</thead>
				<tbody>
					{{itens}}
				</tbody>
			</table>
		</div>
	</div>
</section>