<div class="box-body">
	<div class="row g-2">
		<div style="text-align: right;">
			<a href="{{URL}}/cliente/update/{{id}}">
				<button type="button" class="btn btn-primary">
					Atualizar <i class="bi bi-pencil-square"></i>
				</button>
			</a>
			<a href="{{URL}}/cliente/delete/{{id}}">
				<button type="button" class="btn btn-danger">
					Excluir <i class="bi bi-trash-fill"></i>
				</button>
			</a>
		</div>
		<div class="col-md-3">
	    	<label for="cliente-cpf" class="form-label">CPF</label>
	    	<input type="text" class="form-control cpf" name="Cliente[cpf]" id="cliente-cpf" value="{{cpf}}" disabled>
	  	</div>
	  	<div class="col-md-9">
	    	<label for="cliente-nome" class="form-label">Nome</label>
	    	<input type="text" class="form-control" name="Cliente[nome]" id="cliente-nome" value="{{nome}}" disabled>
	  	</div>
	  	<div class="col-md-4">
	    	<label for="cliente-data_nascimento" class="form-label">Data de Nascimento</label>
	    	<input type="date" class="form-control" name="Cliente[data_nascimento]" id="cliente-data_nascimento"  value="{{data_nascimento}}" disabled>
	  	</div>
	  	<div class="col-md-4">
	    	<label for="cliente-rg" class="form-label">RG</label>
	    	<input type="text" class="form-control" name="Cliente[rg]" id="cliente-rg" value="{{rg}}" disabled>
	  	</div>
	  	<div class="col-md-4">
	    	<label for="cliente-telefone" class="form-label">Telefone</label>
	    	<input type="tel" class="form-control phone_with_ddd" name="Cliente[telefone]" id="cliente-telefone" value="{{telefone}}" disabled>
	  	</div>
	</div>
</div>

<ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="endereco-tab" data-bs-toggle="tab" data-bs-target="#endereco" type="button" role="tab" aria-controls="home" aria-selected="true">Endereço</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="endereco" role="tabpanel" aria-labelledby="endereco-tab">
  	{{enderecos}}
  </div>
</div>